<h1>My Lists</h1>
<ul>
<% @lists.each do |list| %>
  <li> <%= link_to list.name, list_path(list) %></li>
<% end %>
</ul>
<%= link_to '<i class="fas fa-plus"></i> Add a new list'.html_safe, new_list_path %>
