<div class="container col-6">
    <h3>Add a new list</h3>
    <%= simple_form_for (@list) do |f| %>
      <%= f.input :name %>
       <%= f.input :photo, as: :file %>
      <%= f.submit 'Create', class: 'btn btn-success' %>
    <% end %>
</div>
